* {
	box-sizing: border-box;
	font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: white
  }

  .chart-container {
	width: 1500px;
	height:2000px
  }

.btn:focus,
.btn:active,
.btn.active
{
  background-color: #ca5410;
}

.btn:hover
{
  background-color: #676768;