<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>World Happiness Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/Landing.css">
</head>


<body background="../static/images/happykids.jpg">
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Main link for home page -->
                <div class="nav navbar-nav navbar-brand">
                    <a href="/" id="navbar-button">Home</a>
                </div>
                <!-- Navbar right links -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/datapage">Data</a></li>
                    <li><a href="/hbarchart">Analysis</a></li>
                    <li><a href="/datapage">Map</a></li>
                    <li><a href="/datapage">Correlations</a></li>
                    
                </ul>
            </div>
        </nav>
        </div>

        <div class="container">
            <div class="col-md-8">
                <div class="section1-content">
                    <h3 style="color: white" class="section1-header">World Happiness Visualizations</h3>
                    <!-- <img src="assets/images/Fig1.png" alt="" id="section1-photo"/> -->
                    <p style="color: white"> This project presents visualizations of World Happiness Data 
                    Did you know countries are ranked each year based on a Happiness Index?
                    This index rates the happiness of countries on a scale from 0 to 10,
                    and it's pretty fascinating! Today, I'm going to cover exactly what this  
                    supposed Happiness Index is, how it is formulated and what you can learn from it!
                    What is the definition of the Happiness Index? It's an indexation of happiness based 
                    on survey results, that was first used in the 2012 World Happiness Report. 
                    In the survey, the respondents were asked to rate their happiness on a scale 
                    from 0 to 10. The Happiness Index is calculated by averaging the survey results of
                >the respondents.</p>

                            
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="section2-content">
                    <h3 class="section2-header">Visualizations</h3>
                    <a href="MaxTemp.html"><img src="assets/images/Fig1.png" alt="i;ehrgojwgdadfg" class="section2-photo"></a>
                    <a href="Humidity.html"><img src="assets/images/Fig2.png" alt="jwoeijosdig" class="section2-photo"></a>
                    <a href="Cloudiness.html"><img src="assets/images/Fig3.png" alt="iyoiywehjwhe" class="section2-photo"></a>
                    <a href="WindSpeed.html"><img src="assets/images/Fig4.png" alt="wqkjteh;kjerht" class="section2-photo"></a>
                </div>
            </div> -->
        </div>
</body>

</html>
