<!DOCTYPE html>
<html>
<head>

  <title>World Map</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/scatter_style.css">
  
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Main link for home page -->
            <div class="nav navbar-nav navbar-brand">
                <a href="/" id="navbar-button">Home</a>
            </div>
            <!-- Navbar right links -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/datapage">Data</a></li>
                <li><a href="/hbarchart">Bar Chart</a></li>
                <li><a href="/scatter">Scatter Plot</a></li>
                <li><a href="/map">World Map</a></li>
                <li><a href="/correlations">Correlations</a></li>
   
            </ul>
        </div>
    </nav>
    
  <h1 class="text-muted" style="color: purple">World Map</h1>
  <button id="btn_2018" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="loadfrom_getData(2018)">2018</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="loadfrom_getData(2017)">2017</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="loadfrom_getData(2016)">2016</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="loadfrom_getData(2015)">2015</button>



 

  <!-- CHART JS LIBRARY-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<!-- d3 JavaScript -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- plotly javascript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->


<!-- <canvas id="myChart"  ></canvas> -->

<script src="../static/js/worldmap2.js"></script>
<!-- <h3>Graph Category</h3> -->
<div id="dropdown" label="Test">
<label for "selGraph"><h4>Graph Category</h4></label>
<select id="selGraph" onchange="updateGraph(this.value)">
    <option>---</option>
    <option value="HappinessRank">Happiness Rank</option>
    <option value="HappinessScore">Happiness Score</option>
    <option value="Economy">Economy (GDP per Capita)</option>
    <option value="Family">Family</option>
    <option value="LifeExpectancy">Health (Life Expectancy)</option>
    <option value="Freedom">Freedom</option>
    <option value="Trust">Trust (Government Corruption)</option>
    <option value="Generosity">Generosity</option>
    <option value="Dystopia">Dystopia Residual</option>
  </select>
</div>

<div id="worldmap"></div>
</body>
</html>

